.sidebar {
  width: 280px;
  position: fixed;
  height: 100vh;
  background-color: #1a237e;
  display: flex;
  flex-direction: column;
}

/* MedConnect AI Title Section */
.sidebar-header { 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a237e;
  padding-bottom: 10px;
  height: 42.5px;
}

/* MedConnect AI Title */
.sidebar-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}


  
  .sidebar .MuiDrawer-paper {
    width: 280px;
    background-color: #1E40AF; /* Dark blue */
    color: #fff;
    box-sizing: border-box;
    margin-top: 21.5px;
  }
  
  .menu-button {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1500;
    color: #1E3A8A;
  }
  
  .icon {
    color: #fff;
  }
  