/* Navbar Container */
.navbar {
  background-color: #ffffff !important; /* White Background */
  color: #333; /* Dark Gray Text */
  box-shadow: 0px 2px 5px rgba(45, 65, 248, 0.1); /* Soft Blue Shadow */
  z-index: 1201;
  width: calc(100% - 240px);
  margin-left: 250px;
}

/* Navbar Title */
.navbar-title {
  font-weight: bold;
  color: #1a237e; /* Dark Blue */
}

/* Navbar Actions Container */
.navbar-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* User Info (Doctor's Name) */
.user-info {
  color: #333; /* Dark Gray */
  font-weight: 500;
}

/* Logout Button */
.logout-btn {
  background-color: #344ddb !important; /* Blue */
  color: white !important;
  text-transform: none;
  font-size: 12px; /* Reduce text size */
  padding: 2px 8px; /* Reduce padding */
  min-width: auto; /* Ensure it doesn't stretch */
  border-radius: 3px; /* Slightly round edges */
  height: 30px; /* Reduce button height */
}

/* Search Bar Styling */
.search-bar {
  background-color: #f5f5f5; /* Light Gray Background */
  border-radius: 10px;
  width: 170px;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  border: none;
}

/* Removes Blue Focus Highlight */
.search-bar:focus {
  outline: none;
  box-shadow:0px 2px 5px rgba(0, 0, 0, 0.1) ;
}

.user-info {
  font-weight: bold;
  color: #333;
  text-align: left;
}

.user-email {
  font-size: 0.78rem;
  color: gray;
}

