.sidebar {
  width: 280px;
  position: fixed;
  height: 100vh;
  background-color: #1E3A8A;
  display: flex;
  flex-direction: column;
}

/* MedConnect AI Title Section */
.sidebar-header { 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1E3A8A;
  padding-bottom: 17px;
  height: 42.5px;
}

/* MedConnect AI Title */
.sidebar-title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
}


  
  .sidebar .MuiDrawer-paper {
    width: 280px;
    background-color: #1E5DA9; /* Dark blue */
    color: #fff;
    box-sizing: border-box;
    margin-top: 21.5px;
  }
  
  .menu-button {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1500;
    color: #1E5DA9;
  }
  
  .icon {
    color: #fff;
  }

  .sidebar-divider {
    width: 90%;  /* Adjust width to match text length */
    height: 1px;  /* Thin line */
    background-color: #427cf9; /* Light white */
    margin: 10px auto; /* Center the line */
  }
  
  